In [67]:
import pandas as pd

# 从'first_last_month.csv'中读取数据
first_last_month = pd.read_csv('first_last_month.csv')

print(first_last_month.head())

   participantId  jobId first_month last_month   count  job_time  employerId
0              0    254     2022-03    2023-05  129278        14         424
1              1    929     2022-03    2023-05  129278        14        1321
2              2    348     2022-03    2023-05  129278        14         440
3              3    316     2022-03    2023-05  129278        14         436
4              4    177     2022-03    2023-05  129225        14         411

In [68]:
# 读取'Attributes/Jobs.csv'文件
df2 = pd.read_csv('Attributes/Jobs.csv')

# 我希望根据job_id，将df2中的start_time和end_time合并到first_last_month中

first_last_month = first_last_month.merge(df2[['jobId', 'startTime', 'endTime']], on='jobId', how='left')

print(first_last_month.head())

   participantId  jobId first_month last_month   count  job_time  employerId  \
0              0    254     2022-03    2023-05  129278        14         424
1              1    929     2022-03    2023-05  129278        14        1321
2              2    348     2022-03    2023-05  129278        14         440
3              3    316     2022-03    2023-05  129278        14         436
4              4    177     2022-03    2023-05  129225        14         411

    startTime     endTime
0  8:19:00 AM  4:19:00 PM
1  8:06:00 AM  4:06:00 PM
2  7:06:00 AM  3:06:00 PM
3  7:23:00 AM  3:23:00 PM
4  7:20:00 AM  3:20:00 PM

In [69]:
# 假设你的 DataFrame 是 df，'start_time' 和 'end_time' 是你要转换的列
first_last_month['startTime'] = pd.to_datetime(first_last_month['startTime'])
first_last_month['endTime'] = pd.to_datetime(first_last_month['endTime'])

C:\Users\19601\AppData\Local\Temp\ipykernel_36852\3033724490.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  first_last_month['startTime'] = pd.to_datetime(first_last_month['startTime'])
C:\Users\19601\AppData\Local\Temp\ipykernel_36852\3033724490.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  first_last_month['endTime'] = pd.to_datetime(first_last_month['endTime'])

In [70]:
# 计算两个时间之间的差值
first_last_month['daily_work_time'] = first_last_month['endTime'] - first_last_month['startTime']

In [71]:
print(first_last_month.head())

   participantId  jobId first_month last_month   count  job_time  employerId  \
0              0    254     2022-03    2023-05  129278        14         424
1              1    929     2022-03    2023-05  129278        14        1321
2              2    348     2022-03    2023-05  129278        14         440
3              3    316     2022-03    2023-05  129278        14         436
4              4    177     2022-03    2023-05  129225        14         411

            startTime             endTime daily_work_time
0 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
1 2024-05-07 08:06:00 2024-05-07 16:06:00 0 days 08:00:00
2 2024-05-07 07:06:00 2024-05-07 15:06:00 0 days 08:00:00
3 2024-05-07 07:23:00 2024-05-07 15:23:00 0 days 08:00:00
4 2024-05-07 07:20:00 2024-05-07 15:20:00 0 days 08:00:00

In [72]:
# 按照employerId排序, 并重新设置索引
first_last_month = first_last_month.sort_values(by='employerId').reset_index(drop=True)

print(first_last_month.head(15))

    participantId  jobId first_month last_month   count  job_time  employerId  \
0             880      1     2022-03    2023-05  129278        14         379
1              87      5     2022-03    2023-05  129278        14         381
2             166      7     2022-03    2023-05  129278        14         381
3              98      6     2022-03    2023-05  129278        14         381
4             121      4     2022-03    2023-05  129278        14         381
5             575     10     2022-03    2022-03       6         0         382
6             925     14     2022-03    2022-03    1229         0         382
7             653     10     2022-03    2022-03     124         0         382
8             298     10     2022-03    2022-03       5         0         382
9             907     10     2022-03    2022-03       4         0         382
10            791     10     2022-03    2022-03     318         0         382
11            120     16     2022-03    2023-05  129278        14         382
12            628     10     2022-03    2022-03      60         0         382
13            514     10     2022-03    2022-03      53         0         382
14            825     10     2022-03    2022-03       5         0         382

             startTime             endTime daily_work_time
0  2024-05-07 07:31:00 2024-05-07 15:31:00 0 days 08:00:00
1  2024-05-07 08:13:00 2024-05-07 16:13:00 0 days 08:00:00
2  2024-05-07 07:47:00 2024-05-07 15:47:00 0 days 08:00:00
3  2024-05-07 08:36:00 2024-05-07 16:36:00 0 days 08:00:00
4  2024-05-07 07:53:00 2024-05-07 15:53:00 0 days 08:00:00
5  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
6  2024-05-07 08:32:00 2024-05-07 16:32:00 0 days 08:00:00
7  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
8  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
9  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
10 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
11 2024-05-07 07:00:00 2024-05-07 15:00:00 0 days 08:00:00
12 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
13 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
14 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00

In [74]:
# 查找jobId的数量大于1的employerId及其对应的记录
employers = first_last_month['employerId'].value_counts()
normal_employers= employers[employers > 1].index

print(first_last_month[first_last_month['employerId'].isin(normal_employers)].head(15))

    participantId  jobId first_month last_month   count  job_time  employerId  \
1              87      5     2022-03    2023-05  129278        14         381
2             166      7     2022-03    2023-05  129278        14         381
3              98      6     2022-03    2023-05  129278        14         381
4             121      4     2022-03    2023-05  129278        14         381
5             575     10     2022-03    2022-03       6         0         382
6             925     14     2022-03    2022-03    1229         0         382
7             653     10     2022-03    2022-03     124         0         382
8             298     10     2022-03    2022-03       5         0         382
9             907     10     2022-03    2022-03       4         0         382
10            791     10     2022-03    2022-03     318         0         382
11            120     16     2022-03    2023-05  129278        14         382
12            628     10     2022-03    2022-03      60         0         382
13            514     10     2022-03    2022-03      53         0         382
14            825     10     2022-03    2022-03       5         0         382
15            223     13     2022-03    2023-05  129278        14         382

             startTime             endTime daily_work_time
1  2024-05-07 08:13:00 2024-05-07 16:13:00 0 days 08:00:00
2  2024-05-07 07:47:00 2024-05-07 15:47:00 0 days 08:00:00
3  2024-05-07 08:36:00 2024-05-07 16:36:00 0 days 08:00:00
4  2024-05-07 07:53:00 2024-05-07 15:53:00 0 days 08:00:00
5  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
6  2024-05-07 08:32:00 2024-05-07 16:32:00 0 days 08:00:00
7  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
8  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
9  2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
10 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
11 2024-05-07 07:00:00 2024-05-07 15:00:00 0 days 08:00:00
12 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
13 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
14 2024-05-07 08:19:00 2024-05-07 16:19:00 0 days 08:00:00
15 2024-05-07 08:16:00 2024-05-07 16:16:00 0 days 08:00:00

In [59]:
# 对于每一组(employerId, jobId), 计算其记录数和job_time的均值,以及start_time和end_time的均值，daily_work_time的均值
grouped_job = first_last_month.groupby(['employerId', 'jobId']).agg({'job_time': 'mean', 'count': 'count', 'startTime': 'mean', 'endTime': 'mean', 'daily_work_time': 'mean'}).reset_index()

In [60]:
print(grouped_job.head(15))

    employerId  jobId  job_time  count           startTime  \
0          379      1      14.0      1 2024-05-07 07:31:00
1          381      4      14.0      1 2024-05-07 07:53:00
2          381      5      14.0      1 2024-05-07 08:13:00
3          381      6      14.0      1 2024-05-07 08:36:00
4          381      7      14.0      1 2024-05-07 07:47:00
5          382      9      14.0      1 2024-05-07 07:19:00
6          382     10       0.0      9 2024-05-07 08:19:00
7          382     12      14.0      1 2024-05-07 07:27:00
8          382     13      14.0      1 2024-05-07 08:16:00
9          382     14       0.0      1 2024-05-07 08:32:00
10         382     16      14.0      1 2024-05-07 07:00:00
11         383     18      14.0      1 2024-05-07 08:46:00
12         383     20      14.0      1 2024-05-07 07:09:00
13         383     21      14.0      1 2024-05-07 07:34:00
14         383     22      14.0      1 2024-05-07 08:26:00

               endTime daily_work_time
0  2024-05-07 15:31:00 0 days 08:00:00
1  2024-05-07 15:53:00 0 days 08:00:00
2  2024-05-07 16:13:00 0 days 08:00:00
3  2024-05-07 16:36:00 0 days 08:00:00
4  2024-05-07 15:47:00 0 days 08:00:00
5  2024-05-07 15:19:00 0 days 08:00:00
6  2024-05-07 16:19:00 0 days 08:00:00
7  2024-05-07 15:27:00 0 days 08:00:00
8  2024-05-07 16:16:00 0 days 08:00:00
9  2024-05-07 16:32:00 0 days 08:00:00
10 2024-05-07 15:00:00 0 days 08:00:00
11 2024-05-07 16:46:00 0 days 08:00:00
12 2024-05-07 15:09:00 0 days 08:00:00
13 2024-05-07 15:34:00 0 days 08:00:00
14 2024-05-07 16:26:00 0 days 08:00:00

In [61]:
# 统计job_time的分布
print(grouped_job['job_time'].describe())

count    1190.000000
mean       10.243978
std         6.165977
min         0.000000
25%         0.000000
50%        14.000000
75%        14.000000
max        14.000000
Name: job_time, dtype: float64

In [62]:
# 在grouped_job的基础上，对于每一个employerId, 计算其job_time的均值，和count的均值

grouped_employer = grouped_job.groupby('employerId').agg({'job_time': 'mean', 'count': 'mean','startTime': 'mean', 'endTime': 'mean', 'daily_work_time': 'mean'}).reset_index()

# 将job_time的列名改为avg_job_time
grouped_employer = grouped_employer.rename(columns={'job_time': 'avg_job_time'})

# 将count的列名改为avg_job_change
grouped_employer = grouped_employer.rename(columns={'count': 'avg_job_change'})

print(grouped_employer.head(15))

    employerId  avg_job_time  avg_job_change           startTime  \
0          379     14.000000        1.000000 2024-05-07 07:31:00
1          381     14.000000        1.000000 2024-05-07 08:07:15
2          382      9.333333        2.333333 2024-05-07 07:48:50
3          383     14.000000        1.000000 2024-05-07 07:58:00
4          384     14.000000        1.000000 2024-05-07 08:10:40
5          385     14.000000        1.000000 2024-05-07 07:54:00
6          386     11.666667        1.000000 2024-05-07 08:13:10
7          387     14.000000        1.000000 2024-05-07 07:59:00
8          388     11.666667        2.500000 2024-05-07 08:00:30
9          389     10.500000        4.750000 2024-05-07 07:40:30
10         390     14.000000        1.000000 2024-05-07 08:07:00
11         391     14.000000        1.000000 2024-05-07 08:43:00
12         392     14.000000        1.000000 2024-05-07 08:06:00
13         393     11.200000        1.200000 2024-05-07 07:56:12
14         394      7.000000        1.500000 2024-05-07 07:41:30

               endTime daily_work_time
0  2024-05-07 15:31:00 0 days 08:00:00
1  2024-05-07 16:07:15 0 days 08:00:00
2  2024-05-07 15:48:50 0 days 08:00:00
3  2024-05-07 15:58:00 0 days 08:00:00
4  2024-05-07 16:10:40 0 days 08:00:00
5  2024-05-07 15:54:00 0 days 08:00:00
6  2024-05-07 16:13:10 0 days 08:00:00
7  2024-05-07 15:59:00 0 days 08:00:00
8  2024-05-07 16:00:30 0 days 08:00:00
9  2024-05-07 15:40:30 0 days 08:00:00
10 2024-05-07 16:07:00 0 days 08:00:00
11 2024-05-07 16:43:00 0 days 08:00:00
12 2024-05-07 16:06:00 0 days 08:00:00
13 2024-05-07 15:56:12 0 days 08:00:00
14 2024-05-07 15:41:30 0 days 08:00:00

In [63]:
# 保存grouped_employer到'grouped_employer.csv'
grouped_employer.to_csv('grouped_employer.csv', index=False)

In [64]:
# 分析daily_work_time的分布
print(grouped_employer['daily_work_time'].describe())

count                252
mean     0 days 08:00:00
std      0 days 00:00:00
min      0 days 08:00:00
25%      0 days 08:00:00
50%      0 days 08:00:00
75%      0 days 08:00:00
max      0 days 08:00:00
Name: daily_work_time, dtype: object

In [65]:
# 分析startTime的分布
print(grouped_employer['startTime'].describe())

count                              252
mean     2024-05-07 08:01:33.827286272
min                2024-05-07 07:05:30
25%      2024-05-07 07:49:23.035714304
50%                2024-05-07 08:01:35
75%                2024-05-07 08:13:56
max                2024-05-07 08:47:00
Name: startTime, dtype: object

In [66]:
# 分析endTime的分布
print(grouped_employer['endTime'].describe())

count                              252
mean     2024-05-07 16:01:33.827286272
min                2024-05-07 15:05:30
25%      2024-05-07 15:49:23.035714304
50%                2024-05-07 16:01:35
75%                2024-05-07 16:13:56
max                2024-05-07 16:47:00
Name: endTime, dtype: object