In [8]:
# 导入"employers.csv"
import pandas as pd

df = pd.read_csv('./Attributes/Employers.csv')

print(df.head())

   employerId                                       location  buildingId
0         379  POINT (-1849.997168394888 1744.6010147106394)         823
1         380    POINT (41.51783767879146 418.7264799744545)         154
2         381   POINT (877.2786575380362 1358.5441805909259)         279
3         382   POINT (670.3987400004884 1584.4743462106067)           3
4         383   POINT (829.9556783260775 2163.4803049897623)         146

In [9]:
# 分析数据
print(df.describe())

        employerId   buildingId
count   253.000000   253.000000
mean   1089.059289   517.778656
std     507.094228   303.345131
min     379.000000     3.000000
25%     829.000000   261.000000
50%    1279.000000   486.000000
75%    1734.000000   782.000000
max    1797.000000  1041.000000

In [10]:
# 分析缺失值
print(df.isnull().sum())

employerId    0
location      0
buildingId    0
dtype: int64

In [11]:
import re

def extract_coordinates(location):
    matches = re.findall(r'POINT \(([-]?\d+(?:\.\d+)?) ([-]?\d+(?:\.\d+)?)\)', location)
    if matches:
        return matches[0]
    else:
        return (None, None)

df['x'], df['y'] = zip(*df['location'].apply(extract_coordinates))

In [12]:
df.head()

,employerId,location,buildingId,x,y
0,379,POINT (-1849.997168394888 1744.6010147106394),823,-1849.997168394888,1744.6010147106394
1,380,POINT (41.51783767879146 418.7264799744545),154,41.51783767879146,418.7264799744545
2,381,POINT (877.2786575380362 1358.5441805909259),279,877.2786575380362,1358.5441805909259
3,382,POINT (670.3987400004884 1584.4743462106067),3,670.3987400004884,1584.4743462106067
4,383,POINT (829.9556783260775 2163.4803049897623),146,829.9556783260775,2163.4803049897623

In [13]:
# 保存数据
df.to_csv('./Employers_xy.csv', index=False)